/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding: 0;
}
nav{
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
   top:0;
   position: sticky;
   z-index: 50;;
}
#service{
  border-radius: 25%;
}
a{
  text-decoration: none;
  color: black;
  font-family: "Jaro", sans-serif;
}
a:hover{
  color:#1F4F91;
}
h1{
  
  font-family: 'Jaro', sans-serif;
}
p{
  font-family: 'Share Tech', sans-serif;
  
}
label{
  font-size:20px;
}
input{
  width: 30vw;
}
textarea{
  width: 40vw;
  height: 20vh;
}

#submitBtn{
  width: 20vw;
  height: 5vh;
  border-radius: 15px;
}